<head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, intial-scale=1.0, maximum-scale=1">
    <link rel="author" href="https://plus.google.com/u/0/100846780726450080694/" />

    <link rel="icon" type="image/png" href="{{ site.baseurl }}public/icon.png">
    <title>
        {% if page.title == "Home" %}
            {{ site.title }} &middot; {{ site.tagline }}
        {% else %}
            {{ page.title }} &middot; {{ site.title }}
        {% endif %}
    </title>

    
</head>
