* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a, a:visited {
    color: #1A341A;
}

.container.content {
    max-width: 830px;
    margin: 0 auto;
}

.masthead-title img {
    vertical-align: middle;
    height: 3em;
    border-radius: 0.5em;
}

article h1 {
    margin-top: 1em;
    margin-bottom: 0.3em;
}

article p {
    padding-left: 1em;
}

article .times {
    padding-left: 1em;
}

#read_time {
    color: #888;
}

aside h2 {
    font-size: 1em;
}

footer {
    text-align: center;
}

code {
    margin-top: 1em;
    white-space: pre;
    max-width: 700px;
}

.highlight pre {
    overflow: auto;
}

p {
    text-align: justify;
}
